body{
    margin: 0px;
    width: auto;
    height: max-content;
}
a{
    color: rgb(54, 51, 51);
    text-decoration: none;
}
p{
    font-size: 1rem;
}
h1{
    font-size: 2.1rem;
    margin: 3% 0;
}
/*it is paragraph below header*/
.intro-text{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.main-container{
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("/images/backgroundimg.jpg");
    background-size: cover;
}
.intro-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80%; 
}
.fab{
    color: white;
    font-size: 1.5rem;
}
.fab:hover{
    color:rgb(12, 38, 158);
}
.icon-class{
    padding-right: 10%;
    padding-left: 10%;
}


.row-center-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.bottom-container{
    justify-content: space-evenly;
    width: 100%;
}

.content-container{
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    background-color:rgba(0, 0, 0, 0.836);
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 5% 0;
}

.about-me-text{
    color: white;
    padding-left: 5%;
}
.fa-user-circle{
    color: blanchedalmond;
}
.contact-det{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#download-btn{
    background-color:dimgrey;
    color: white;
    padding: 5%;
    border: 0px;
    width: 9rem;
    border-radius: 4px;
}
#download-btn:hover{
    background-color: white;  
    color: black;  
}


@media only screen and (max-width:600px){
    .fa-user-circle{
        display: none;
    }
    .bottom-container{
        justify-content: space-between;
    }
}
